<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js sidebar-large lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js sidebar-large lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js sidebar-large lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js sidebar-large"> <!--<![endif]-->

<head>
  <meta charset="utf-8">
  <title>Healthfundit</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="Healthfundit Website" name="description" />
  <meta content="Healthfundit" name="author" />
  <link rel="shortcut icon" href="<%= asset_path 'favicon.png' %>">
  <%= stylesheet_link_tag 'frontend_manifest', media: "all" %>
  <%= javascript_include_tag 'frontend_manifest_header' %>
  <%= yield :head %>
</head>

<body id="animated-page">
<!-- BEGIN PRELOADER -->
<section class="preloader">
  <div id="loading-animation">
    <ul class="spinner">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</section>
<!-- END PRELOADER -->
<!-- top menu bar-->
<nav class="navbar navbar-fixed-top" role="navigation" data-0="line-height:85px; height:85px; background-color:rgba(43,46,51,0.3);" data-300="line-height:60px; height:60px; background-color:rgba(43,46,51,1);">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="fa fa-bars c-white"></span>
      </button>
      <h1>
        <a class="navbar-brand" href="/" data-0="line-height:80px" data-300="line-height:58px">
          <!--<img src="<%= asset_path 'logo.png' %>" data-0="line-height:38px" data-300="line-height:58px" alt="logo" width="250" height="38"></a>-->
          Healthfundit
        </a>
      </h1>
    </div>
    <div class="navbar-collapse pull-right  collapse">
      <ul class="nav navbar-nav header-menu" data-0="margin-top:20px;" data-300="margin-top:7px;">
        <li><a href="/campaigns/under_crowdreview">Crowd Review</a></li>
        <li><a href="tour.html">How It Works</a></li>
        <li><a href="portfolio.html">Contact</a></li>
        <li class="active"><a href="/">Home</a></li>
        <%
           if user_signed_in?
        %>
            <li class="dropdown" id="user-header">
              <a href="#" class="dropdown-toggle c-white" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                <img src="/img/avatars/avatar2.png" alt="user avatar" width="30" class="p-r-5">
                <span class="username"><%= current_user.name%></span>
                <i class="fa fa-angle-down p-r-10"></i>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="profil.html">
                    <i class="glyph-icon flaticon-account"></i> My Profile
                  </a>
                </li>
                <li>
                  <a href="calendar.html">
                    <i class="glyph-icon flaticon-calendar"></i> My Calendar
                  </a>
                </li>
                <li>
                  <a href="profil_edit.html">
                    <i class="glyph-icon flaticon-settings21"></i> Account Settings
                  </a>
                </li>
                <li class="dropdown-footer clearfix">
                  <a href="javascript:;" class="toggle_fullscreen" title="Fullscreen">
                    <i class="glyph-icon flaticon-fullscreen3"></i>
                  </a>
                  <a href="lockscreen.html" title="Lock Screen">
                    <i class="glyph-icon flaticon-padlock23"></i>
                  </a>
                  <a href="login.html" title="Logout">
                    <i class="fa fa-power-off"></i>
                  </a>
                </li>
              </ul>
            </li>
            </li>
        <%
           else
        %>
            <li><a href="/login">Login</a>
            </li>
        <%
           end
        %>

      </ul>
    </div>
  </div>
</nav>

<!-- content -->
<%= yield %>

<!-- footer -->
<section id="footer" class="section footer">
  <div class="container">
    <div class="row animated opacity m-b-20" data-andown="fadeIn" data-animation="animation">
      <div class="col-sm-12 align-center">
        <ul class="social-network social-circle">
          <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="row align-center copyright">
      <div class="col-sm-12">
        <p>Copyright &copy; 2014 Healthfundit</p>
      </div>
    </div>
  </div>
</section>
<a href="#header" class="scrollup"><i class="fa fa-chevron-up"></i></a>
<%= javascript_include_tag 'frontend_manifest_footer' %>
</body>

</html>